[Desktop Entry]
Name=Iceweasel
Name[pl]=Iceweasel
Comment=Web browser
Comment[pl]=Przeglądarka WWW
Exec=iceweasel
Icon=iceweasel
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
