[Desktop Entry]
Name=Iceweasel
Name[pl]=Iceweasel
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Comment=Browse the Web powered by Mozilla technology
Comment[pl]=Przeglądarka WWW oparta o technologię Mozilli
Exec=iceweasel
Icon=iceweasel
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
