[Desktop Entry]
Name=Firefox Community Edition
Name[pl]=Firefox Community Edition
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Comment=Browse the Web powered by Mozilla technology
Comment[pl]=Przeglądarka WWW oparta o technologię Mozilli
Exec=mozilla-firefox
Icon=mozilla-firefox
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
Encoding=UTF-8
# vi: encoding=utf-8
